@page "/"

<PageTitle>Trang chủ</PageTitle>

<div class="row">
	<div class="col-12">
		<h1>Chào mừng đến trang quản trị</h1>
	</div>
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<AuthorizeView>
					<Authorized>
						<span>Xin chào, @context.User.Identity.Name!</span>.<a class="fw-bolder" href="/logout">Đăng xuất.</a>
					</Authorized>
					<NotAuthorized>
						<span>Vui lòng đăng nhập <a class="fw-bolder" href="/login">tại đây</a>.</span>
					</NotAuthorized>
				</AuthorizeView>
			</div>
		</div>
	</div>
</div>
